<mat-toolbar>
  <mat-toolbar-row>
    <img class="brand" src="./assets/logo/logo2.svg" [routerLink]="['/index']"/>
    <span class="spacer"></span>
    <mat-icon class="" aria-hidden="false" aria-label="Start Timer">timer</mat-icon>

    <button class="m-l-5" *ngIf="!_time.running" mat-button color="warn" (click)="startTimer()">Start</button>

    <span class="display-time" *ngIf="_time.running">{{_time.display}}</span>

    <button class="nm-t-5" *ngIf="_time.running" mat-icon-button color="accent" aria-label="Pause" (click)="pauseTimer()">
      <mat-icon>pause</mat-icon>
    </button>

    <button class="nm-t-5" *ngIf="_time.running" mat-icon-button color="primary" aria-label="stop" (click)="stopTimer()">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>